## Day 03 : 4th July 2025

#### Modify Column Index / Row Index

In [1]:
import pandas as pd
import numpy as np

# Creating a DataFrame with performance scores of Rohit and Virat
impdata ={"Rohit": [75,12,124], "Virat": [87,45,92]}
impdata = pd.DataFrame(impdata, index=[1,2,3]) #customized index
print("Player Scores DataFrame:")
print(impdata)
print()

# Creating a DataFrame with player roles and scores in a particular game
game = pd.DataFrame([["Rohit","Batsman",50],["Kohli","Batsman",75]],
                    columns=["Name", "Type","Scores"], index =[1,2])
#customized index starts with 1
print("Game Performance DataFrame:")
print(game)
print()

# Creating a NumPy array of salaries over years for two employees
empdata = np.array([[8000,10000,18000],
                    [15000,18000,25000]])

# Converting NumPy array into a DataFrame with proper column and row labels
pdempdata = pd.DataFrame(empdata, 
                         columns=[2022,2023,2024], 
                         index=["Ramesh","Mahesh"])
print("Employee Salary DataFrame (2022â€“2024):")
print(pdempdata)
print()

# Adding a new column for 2025 with a 30% increment over 2024 salary
# pdempdata[2025]= (pdempdata[2024]*0.3) + pdempdata[2024]
pdempdata[2025] = pdempdata[2024] * 1.30
print("Employee Salary DataFrame (including 2025 with 30% increment):")
print(pdempdata)

Player Scores DataFrame:
   Rohit  Virat
1     75     87
2     12     45
3    124     92

Game Performance DataFrame:
    Name     Type  Scores
1  Rohit  Batsman      50
2  Kohli  Batsman      75

Employee Salary DataFrame (2022â€“2024):
         2022   2023   2024
Ramesh   8000  10000  18000
Mahesh  15000  18000  25000

Employee Salary DataFrame (including 2025 with 30% increment):
         2022   2023   2024     2025
Ramesh   8000  10000  18000  23400.0
Mahesh  15000  18000  25000  32500.0

####  ðŸ“Œ .loc[] vs .iloc[] in Pandas

.loc[] â€“ Label-based indexing
- Used to access rows and columns by label names.
- Includes both start and end labels when slicing.
- <b> Syntax: df.loc[row_label, column_label] </b>

.iloc[] â€“ Position-based indexing
- Used to access rows and columns by integer positions (like Python lists).
- End index is exclusive when slicing.
- <b> Syntax: df.iloc[row_position, column_position] </b>

In [2]:
# Reading data from a CSV file named "Livecoinprice.csv" into a DataFrame
filedata = pd.read_csv("Livecoinprice.csv")


# Printing the row at index 2 from the DataFrame using .loc (label-based indexing)
# Note: .loc[[2]] returns the row where the index label is 2 (not necessarily the third row unless index is default)
print(filedata.loc[[2]])

   Unnamed: 0   id symbol    name  nameid  rank  price_usd  \
2           2  518   USDT  Tether  tether     3   0.999977

   percent_change_24h  percent_change_1h  percent_change_7d  price_btc  \
2               -0.06               0.04              -0.05   0.000009

   market_cap_usd      volume24     volume24a       csupply       tsupply  \
2    1.393266e+11  4.141934e+10  2.763040e+10  1.393299e+11  1.415730e+11

   msupply
2      NaN

In [3]:
filedata = pd.read_csv("mydata.xlsx - Sheet1.csv")
print(filedata)
print(type(filedata))
print()

# Print Score of all matches of Kohli
print(filedata["KOHLI"])
print()

# Print 37
# Specifica: Varname[Column][Row]
print(filedata["DHONI"][3])
print()

# Print Third Match Data
print(filedata.loc[[2]])
print(filedata.iloc[[2]])
# As the default index starts with 0, 3rd Match is in index 2  
# here label name and position both are 2 so both will print the same result

   CRICKET  ROHIT  KOHLI  DHONI
0        1     17     70     10
1        2     81     12      7
2        3     25     55     23
3        4     34     36     37
4        5     45     49    101
5        6     25     80     45
6        7     75     20     65
<class 'pandas.core.frame.DataFrame'>

0    70
1    12
2    55
3    36
4    49
5    80
6    20
Name: KOHLI, dtype: int64

37

   CRICKET  ROHIT  KOHLI  DHONI
2        3     25     55     23
   CRICKET  ROHIT  KOHLI  DHONI
2        3     25     55     23

#### DATA FETCHING / ACCESS  FOR MACHINE LEARNING

In [4]:
df1 = pd.read_csv("RESULT1 - Sheet1.csv")
print(df1)

df2 = pd.read_csv("RESULT2 - Sheet1.csv")
print(df2)

alldata = pd.concat([df1,df2])
alldata

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     CE  RAMESH    210          90         1
1     2     CE  SURESH    150          80         1
2     3     IT  MAHESH    225          75         1
3     4     IT  NARESH    180          60         1
4     5     CE  JAYESH     90          30         0
   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     EC   RATAN    150          50         1
1     2     CE   JATAN    270          90         1
2     3     IT  KATHAN    285          95         1
3     4     EC   NAYAN    195          65         1
4     5     IT   RAMAN    165          55         1

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     CE  RAMESH    210          90         1
1     2     CE  SURESH    150          80         1
2     3     IT  MAHESH    225          75         1
3     4     IT  NARESH    180          60         1
4     5     CE  JAYESH     90          30         0
0     1     EC   RATAN    150          50         1
1     2     CE   JATAN    270          90         1
2     3     IT  KATHAN    285          95         1
3     4     EC   NAYAN    195          65         1
4     5     IT   RAMAN    165          55         1

In [5]:
alldata.head(3)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     CE  RAMESH    210          90         1
1     2     CE  SURESH    150          80         1
2     3     IT  MAHESH    225          75         1

In [6]:
#sort data based on Total

print(alldata.sort_values(['TOTAL'], ascending = False).head(3))

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
2     3     IT  KATHAN    285          95         1
1     2     CE   JATAN    270          90         1
2     3     IT  MAHESH    225          75         1

In [7]:
print(alldata.sort_values(['TOTAL'], ascending = False).tail(3))

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
1     2     CE  SURESH    150          80         1
0     1     EC   RATAN    150          50         1
4     5     CE  JAYESH     90          30         0

In [8]:
df1.dtypes

SRNO           int64
BRANCH        object
NAME          object
TOTAL          int64
PERCENTAGE     int64
PASSFAIL       int64
dtype: object

### Home Work

#### TASK : Add Column Name INR in Coin Csv exported yesterday.

In [9]:
import requests

resp = requests.get("https://free.ratesdb.com/v1/rates?from=USD&to=INR")
data = resp.json()
rate = data["data"]["rates"]["INR"]
print("USD -> INR = ", rate)

inrCoinfile = pd.read_csv("Livecoinprice.csv")
inrCoinfile['INR'] = inrCoinfile['price_usd'] * rate
inrCoinfile.head() # Display first few rows

USD -> INR =  85.9281

,Unnamed: 0,id,symbol,name,nameid,rank,price_usd,percent_change_24h,percent_change_1h,percent_change_7d,price_btc,market_cap_usd,volume24,volume24a,csupply,tsupply,msupply,INR
0,0,90,BTC,Bitcoin,bitcoin,1,109151.430000,1.09,-0.12,1.52,1.000000,2.168465e+12,2.154889e+10,1.543365e+10,1.986658e+07,1.986658e+07,2.100000e+07,9.379175e+06
1,1,80,ETH,Ethereum,ethereum,2,2575.100000,2.50,-0.06,5.62,0.023591,3.102305e+11,1.190051e+10,7.453041e+09,1.204733e+08,1.223753e+08,NaN,2.212735e+05
2,2,518,USDT,Tether,tether,3,0.999977,-0.06,0.04,-0.05,0.000009,1.393266e+11,4.141934e+10,2.763040e+10,1.393299e+11,1.415730e+11,NaN,8.592612e+01
3,3,58,XRP,XRP,ripple,4,2.260000,1.97,-0.18,3.51,0.000021,1.305337e+11,2.027066e+09,9.503203e+08,5.764121e+10,9.998659e+10,1.000000e+11,1.941975e+02
4,4,2710,BNB,Binance Coin,binance-coin,5,661.080000,1.12,0.04,1.88,0.006056,1.102695e+11,8.264939e+08,6.238347e+08,1.668011e+08,1.924433e+08,2.000000e+08,5.680535e+04

In [10]:
inrCoinfile.to_csv("Livecoinprice_with_INR.csv", index=False)
print("Saved updated file as Livecoinprice_with_INR.csv")

Saved updated file as Livecoinprice_with_INR.csv

### âœ… Summary â€“ Day 3 (4th July 2025)

- Created DataFrames using pandas with custom row indexes.
- Learned difference between `.loc[]` (label-based) and `.iloc[]` (position-based).
- Loaded and explored data from CSV files.
- Extracted specific player performance data using column and row access.
- Practiced retrieving and printing precise values from tabular datasets.